name: test_lint_workflow

on: [push]

jobs:
    lint-test-build:
        
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v3

            - uses: actions/setup-node@v2
              with:
                node-version: '16'

            - name: Lint
              run: slint --ext .jsx --fix src
            
            - name: Build
              run: vite build
              
            - name: Run
              run: vite run